.player-games {
  background-color: rgb(48, 63, 0);
  border-radius: 0.5rem;
  width: 75%;
  padding: 0.5rem 1rem 0.75rem 1rem;
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0;
  }
}
